@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
html,
body {
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

#nav-head {
  position: relative;
  width: 100%;
  height: 100vh;
}
.nav-head-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
#bg-1,
#bg-3 {
  opacity: 0;
}
.bg {
  transition: 0.6s;
}
.left-arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.right-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.circle-list {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: gray;
  opacity: 0.5;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle-ani {
  border: 2px solid white;
  background-color: transparent;
  opacity: 1;
}
.small-circle {
  width: 6px;
  height: 6px;
  border-radius: 6px;
}
.small-circle-ani {
  background-color: white;
}
.navbar {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #313131;
}
.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navlink {
  display: flex;
  flex: 4;
  justify-content: space-evenly;
  align-items: center;
}
.link {
  text-decoration: none;
  color: white;
  transition: 0.6s;
}
.navlink li {
  list-style: none;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.cta-button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid white;
  transition: 0.6s;
}
#ham {
  position: relative;
  display: none;
  height: 24px;
  width: 24px;
  margin-left: 10px;
  cursor: pointer;
}
#header {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}
#header h2 {
  font-size: 4rem;
  padding: 0px 10% 10px;
}
#header p {
  padding: 0px 10% 20px;
  line-height: 25px;
}
#header-btn {
  padding: 10px 20px;
  background-color: #bd7457;
  color: white;
  border: 1px solid #bd7457;
  width: 180px;
  margin-left: 10%;
  border-radius: 6px;
  transition: 0.6s;
  cursor: pointer;
}
#sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-200px);
  transition: 0.6s;
}
#cross {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.sidelink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 226px;
}
.sidelink .link {
  font-size: 1.4rem;
}
.side-cta {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#side-button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: 0.6s;
}

.book-holiday {
  background-color: rgb(245, 245, 245);
  padding: 30px 0px;
  max-height: 9999px;
}
.book-holiday h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #bd7457;
}
.select-container {
  display: flex;
  position: relative;
  margin: 20px 0px;
  flex-direction: column;
  width: 250px;
  height: 40px;
  user-select: none;
}
.select-destination {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #bd7457;
  cursor: pointer;
  transition: 0.6s;
}
.list-container li {
  list-style: none;
  padding: 10px 20px;
  transition: 0.6s;
}
.list-container {
  z-index: 3;
  margin-top: 5px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #313131;
  border-radius: 10px;
}
.list-display {
  display: none;
}
.selected-destination {
  color: #bd7457;
}
.form-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
#search-btn {
  background-color: #bd7457;
  border: 1px solid #bd7457;
  color: white;
  padding: 10px 30px;
  transition: 0.6s;
  margin: 10px 0px 20px;
  border-radius: 6px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 5px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  pointer-events: none;
}

.date-picker {
  position: relative;
  width: 250px;
  height: 40px;
  background-color: #fff;
  margin: 20px 0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  transition: 0.6s;
}

.date-picker .selected-date {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #bd7457;
}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.date-picker .dates.active {
  display: block;
  z-index: 2;
}

.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
  background-color: #bd7457;
}

.date-picker .dates .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 40px;
  height: 200px;
}
.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}
.date-picker .dates .days .day.selected {
  background-color: #bd7457;
}
.date-picker .dates .days .day.disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
}

.contact-container {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact{
  position: relative;
  height: 500px; 
  width: 100%;
}
.contact-container h2 {
  font-size: 2rem;
  margin: 30px 0px 10px;
  text-align: center;
  color: white;
}
.contact-container .contact-form {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container .contact-form input,
.contact-container .contact-form textarea {
  width: 80%;
  padding: 10px 20px;
  border: 2px solid #f3f3f3;
  color: #f3f3f3;
  outline: none;
  resize: none;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
.contact-container .contact-form button {
  border: 2px solid #bd7457;
  background-color: #bd7457;
  color: white;
  align-self: flex-start;
  border-radius: 10px;
  margin: 10px 0px 10px 10%;
  padding: 10px 20px;
  transition: 0.6s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#packages{
  padding: 30px 10%;
  border-bottom: 1px solid #bd7457;
}
#packages h2{
  font-size: 2rem;
  padding: 20px 10px;
  color: #bd7457;
}
.packages-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.package-item{
  height: 500px;
  width: 500px;
  margin: 20px 10px;
  background-color: #f3f3f3;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.package-item-image{
  position: relative;
  width: 100%;
  height: 60%;
}
.package-item-details{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 16px;
}
.package-item-details p{
  line-height: 25px;
}
.package-location{
  display: flex;
  align-items: center;
}
.location-name{
  font-size: 20px;
  font-weight: bold;
}
.package-ratings{
  display: flex;
  align-items: center;
}
.package-price{
display: flex;
align-items: center;
}
.original-price{
  text-decoration: line-through;
  margin-left: 5px;
  color: gray;
}
.discount-price{
  font-size: 18px;
  font-weight: bold;
}
.book-package{
  padding: 10px 20px;
  border: 1px solid #bd7457;
  background-color: #bd7457;
  color: white;
  border-radius: 6px;
  transition: 0.6s;
  cursor: pointer;
}
#services{
  padding: 30px 10%;
  border-bottom: 1px solid #bd7457;
}
#services h2{
  font-size: 2rem;
  padding: 20px 10px;
  color: #bd7457;
}
.services-container{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.service-list{
  width: 40%;
  height: 320px;
  margin: 20px 10px;
  background-color: #f3f3f3;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-name{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 20px 0px 0px;
}
.service-details{
  line-height: 25px;
  padding: 10px;
  text-align: center;
}
#gallery{
  padding: 30px 10%;
  border-bottom: 1px solid #bd7457;
}
#gallery h2{
  font-size: 2rem;
  padding: 20px 10px;
  color: #bd7457;
}
.gallery-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.gallery-item{
  position: relative;
  width: 30%;
  height: 20vw;
  margin: 20px 10px;
  cursor: pointer;
  transition: 0.6s;
}
footer{
  background-color: #313131;
  color: white;
  padding: 30px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.footer-about{
  flex: 3;
  margin: 10px;
}
.footer-about p{
 line-height: 25px;
 padding: 10px 0px;
}
.footer-location{
  flex: 2;
  margin: 10px;
}
.footer-links{
  flex: 2;
  margin: 10px;
}
.footer-social-media{
  flex: 2;
  margin: 10px;
}
footer h2{
  margin-bottom: 10px;
}
footer li{
  list-style: none;
  padding: 10px 0px;
}
.footer-copyright{
  margin-top: 20px;
  text-align: center;
}
@media (hover: hover) {
  .cta-button:hover {
    border-color: #bd7457;
    color: #bd7457;
  }
  .navlink li .link:hover {
    color: #bd7457;
  }
  #side-button:hover {
    color: #bd7457;
    border-color: #bd7457;
  }
  #header-btn:hover,
  #search-btn:hover,.book-package:hover {
    border: 1px solid #bd7457;
    background-color: transparent;
    color: #bd7457;
  }
   .date-picker:hover,
  .select-destination:hover,
  .list-container li:hover {
    background-color: #f3f3f3;
  }
  .contact-container .contact-form button:hover {
    background-color: transparent;
    color: #bd7457;
  }
  .gallery-item:hover{
    opacity: 0.6;
  }
}

@media (hover: none) {
  .cta-button:active {
    border-bottom: none;
    color: #bd7457;
  }
  .navlink li .link:active {
    color: #bd7457;
  }
  #side-button:active {
    color: #bd7457;
    border-color: #bd7457;
  }
  #header-btn:active,
  #search-btn:active, .book-package:active {
    border: 1px solid #bd7457;
    color: #bd7457;
    background-color: transparent;
  }
   .date-picker:active,
  .select-destination:active,
  .list-container li:active {
    background-color: #f3f3f3;
  }
  .contact-container .contact-form button:active {
    background-color: transparent;
    color: #bd7457;
  }
}
@media (max-width:1300px) {
  .package-item{
    width: 400px;
  }
  .package-item-image, .package-item-details{
    height: 50%;
  }
}

@media (max-width:1050px) {
  .package-item{
    width: 320px;
  }
  #services{
    padding: 10px 0px;
  }
  #services h2{
    text-align: center;
  }
  .services-container{
    justify-content: space-around;
  }

}


@media (max-width: 912px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-container{
   flex-wrap: wrap;
  }
  .footer-about{
   flex: auto;
  }
  .footer-location{
    flex: auto;
  }
  .footer-links{
    flex: auto;
  }
  .footer-social-media{
    flex: auto;
  }
}
@media (max-width:850px) {
  #packages{
    padding: 30px 0px;
  }
  #packages h2{
    text-align: center;
  }
  .packages-container{
    justify-content: center;
  }
  .package-item{
    width: 500px;
    margin: 20px 0px;
  }
  .package-item-image{
    height: 60%;
  }
 .package-item-details{
    height: 40%;
  }
  .service-list{
    width: 60%;
    margin: 20px 0px;
  }
}
@media (max-width: 768px) {
  .logo {
    justify-content: flex-end;
    margin-right: 30px;
  }
  #ham {
    display: flex;
  }
  .navbar .navlink,
  .cta {
    display: none;
  }
  .navbar {
    height: 40px;
    align-items: flex-end;
  }
  .fixed-nav{
    align-items: center;
  }
  #header {
    height: calc(100vh -40px);
  }
  #header h2 {
    font-size: 3rem;
  }
  .gallery-item{
    width: 40%;
    height:26vw;
  }
}
@media (max-width:625px) {
  .package-item{
    width: 80%;
  }
  .package-item-image{
    height: 50%;
  }
  .package-item-details{
    height: 50%;
  }
  .service-list{
    width: 70%;
  }
  #gallery h2{
    text-align: center;
  }
  .gallery-container{
    justify-content: center;
  }
  .gallery-item{
    width: 80%;
    height:52vw;
  }
}
@media (max-width: 540px) {
  #header h2 {
    font-size: 2.6rem;
  }
  .service-list{
    width: 80%;
    height: 360px;
  }
  #gallery{
    padding: 30px 0px;
  }
}
@media (max-width: 375px) {
  .service-list{
    width: 90%;
    height: 400px;
  }
  footer{
    padding: 30px 10px;
  }
}

@media (max-height: 414px) {
  .sidelink .link {
    font-size: 1.2rem;
  }
  #header h2 {
    font-size: 2.4rem;
    padding-bottom: 5px;
  }
  #header p {
    padding-bottom: 10px;
  }
}
