@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
html,
body {
  font-family: "Montserrat";
}

#nav-head {
  position: relative;
  width: 100%;
  height: 100vh;
}
.nav-head-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
#bg-1,
#bg-3 {
  opacity: 0;
}
.bg {
  transition: 0.6s;
}
.left-arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.right-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.circle-list {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: gray;
  opacity: 0.5;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle-ani {
  border: 2px solid white;
  background-color: transparent;
  opacity: 1;
}
.small-circle {
  width: 6px;
  height: 6px;
  border-radius: 6px;
}
.small-circle-ani {
  background-color: white;
}
.navbar {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #313131;
}
.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navlink {
  display: flex;
  flex: 4;
  justify-content: space-evenly;
  align-items: center;
}
.link {
  text-decoration: none;
  color: white;
  transition: 0.6s;
}
.navlink li {
  list-style: none;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.cta-button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid white;
  transition: 0.6s;
}
#ham {
  position: relative;
  display: none;
  height: 24px;
  width: 24px;
  margin-left: 10px;
  cursor: pointer;
}
#header {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}
#header h2 {
  font-size: 4rem;
  padding: 0px 10% 10px;
}
#header p {
  padding: 0px 10% 20px;
  line-height: 25px;
}
#header-btn {
  padding: 10px 20px;
  background-color: #bd7457;
  color: white;
  border: 1px solid #bd7457;
  width: 180px;
  margin-left: 10%;
  border-radius: 6px;
  transition: 0.6s;
  cursor: pointer;
}
#sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-200px);
  transition: 0.6s;
}
#cross {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.sidelink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 226px;
}
.sidelink .link {
  font-size: 1.4rem;
}
.side-cta {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#side-button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: 0.6s;
}

.book-holiday {
  background-color: rgb(245, 245, 245);
  padding: 30px 0px;
  max-height: 9999px;
}
.book-holiday h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #bd7457;
}

.select-destination {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #bd7457;
  cursor: pointer;
  transition: 0.6s;
}
.list-container li {
  list-style: none;
  padding: 10px 20px;
  transition: 0.6s;
}
.list-container {
  z-index: 3;
  margin-top: 5px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #313131;
  border-radius: 10px;
}
.list-display {
  display: none;
}
.selected-destination {
  color: #bd7457;
}
.form-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
#search-btn {
  background-color: #bd7457;
  border: 1px solid #bd7457;
  color: white;
  padding: 10px 30px;
  transition: 0.6s;
  margin: 10px 0px 20px;
  border-radius: 6px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.select-container {
  display: flex;
  position: relative;
  margin: 20px 0px;
  flex-direction: column;
  width: 250px;
  height: 40px;
  user-select: none;
}
.icon {
  position: absolute;
  right: 5px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  pointer-events: none;
}

.date-picker {
  position: relative;
  width: 250px;
  height: 40px;
  background-color: #fff;
  margin: 20px 0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  transition: 0.6s;
}

.date-picker .selected-date {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #bd7457;
}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.date-picker .dates.active {
  display: block;
  z-index: 2;
}

.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
  background-color: #bd7457;
}

.date-picker .dates .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 40px;
  height: 200px;
}
.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}
.date-picker .dates .days .day.selected {
  background-color: #bd7457;
}
.date-picker .dates .days .day.disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
}

.contact-container {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact{
  position: relative;
  height: 500px; 
  width: 100%;
}
.contact-container h2 {
  font-size: 2rem;
  margin: 30px 0px 10px;
  text-align: center;
  color: white;
}
.contact-container .contact-form {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container .contact-form input,
.contact-container .contact-form textarea {
  width: 80%;
  padding: 10px 20px;
  border: 2px solid #f3f3f3;
  color: #f3f3f3;
  outline: none;
  resize: none;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
.contact-container .contact-form button {
  border: 2px solid #bd7457;
  background-color: #bd7457;
  color: white;
  align-self: flex-start;
  border-radius: 10px;
  margin: 10px 0px 10px 10%;
  padding: 10px 20px;
  transition: 0.6s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media (hover: hover) {
  .date-picker:hover,
  .select-destination:hover,
  .list-container li:hover {
    background-color: #f3f3f3;
  }
  .cta-button:hover {
    border-color: #bd7457;
    color: #bd7457;
  }
  .navlink li .link:hover {
    color: #bd7457;
  }
  #side-button:hover {
    color: #bd7457;
    border-color: #bd7457;
  }
  #header-btn:hover,
  #search-btn:hover {
    border: 1px solid #bd7457;
    background-color: transparent;
    color: #bd7457;
  }
  .contact-container .contact-form button:hover {
    background-color: transparent;
    color: #bd7457;
  }
}
@media (hover: none) {
  .date-picker:active,
  .select-destination:active,
  .list-container li:active {
    background-color: #f3f3f3;
  }
  .cta-button:active {
    border-bottom: none;
    color: #bd7457;
  }
  .navlink li .link:active {
    color: #bd7457;
  }
  #side-button:active {
    color: #bd7457;
    border-color: #bd7457;
  }
  #header-btn:active,
  #search-btn:active {
    border: 1px solid #bd7457;
    color: #bd7457;
    background-color: transparent;
  }
  .contact-container .contact-form button:active {
    background-color: transparent;
    color: #bd7457;
  }
}
@media (max-width: 912px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .logo {
    justify-content: flex-end;
    margin-right: 30px;
  }
  #ham {
    display: flex;
  }
  .navbar .navlink,
  .cta {
    display: none;
  }
  .navbar {
    height: 40px;
    align-items: flex-end;
  }
  .fixed-nav{
    align-items: center;
  }
  #header {
    height: calc(100vh -40px);
  }
  #header h2 {
    font-size: 3rem;
  }
}
@media (max-width: 540px) {
  #header h2 {
    font-size: 2.6rem;
  }
}
@media (max-height: 414px) {
  .sidelink .link {
    font-size: 1.2rem;
  }
  #header h2 {
    font-size: 2.4rem;
    padding-bottom: 5px;
  }
  #header p {
    padding-bottom: 10px;
  }
}
